.card {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  min-width: 60%;
  font: 1rem "Recursive";
}

.red {
  color: #D70900;
}

.black {
  color: #333333;
}